.headerNav__tabs button span {
  text-transform: none !important;
  font-family: "Teko", sans-serif;
  font-size: calc(13px + 0.8vw);
  font-weight: 500;
}

.headerMenu {
  display: flex;
  flex-direction: row;
}

@media (min-width: 350px) {
  .MuiTab-root {
    min-width: 67px !important;
  }
}

@media (min-width: 400px) {
  .MuiTab-root {
    min-width: 80px !important;
  }
}

@media (min-width: 500px) {
  .MuiTab-root {
    min-width: 100px !important;
  }
}

@media (min-width: 600px) {
  .MuiTab-root {
    min-width: 120px !important;
  }
}

@media (min-width: 800px) {
  .MuiTab-root {
    min-width: 140px !important;
  }
}

@media (min-width: 960px) {
  .MuiTab-root {
    min-width: 150px !important;
  }
}

.headerMenu > h3 {
  padding: 0 15px;
}

.MuiTab-root {
  padding: 10px 12px !important;
  max-width: 180px !important;
}
