.aboutSection__leftBg {
  width: 77%;
  min-height: 91.5vh;
  background: url("./tony.png");
  background-size: cover;
  background-position-x: left;
}

.aboutSection__leftContent {
  padding: 0 3rem 0 7rem;
  transform: translateX(30%);
}

.aboutSection__rightContent {
  padding: 0 7rem 0 3rem;
  transform: translateX(-30%);
}

.p,
.p2 {
  text-align: right;
  margin-top: 3rem;
  font-size: 19px;
  padding: 0.65rem;
  background-color: rgba(255, 134, 21, 0.418);
  color: aliceblue;
  font-family: "Poppins", "Teko";
  border-radius: 10px;
}

.p2 {
  margin-top: 2.5rem !important;
  text-align: left;
  background-color: rgba(211, 211, 211, 0.445);
}
