@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  object-fit: contain;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Animations */

@keyframes simlpe_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow_translate_scale {
  0% {
    opacity: 0;
    transform: scale(0.7) translateX(10%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
