* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  cursor: pointer;
}

body {
  background-color: #042a64;
}

.Nav-items {
  color: #b6b4b4;
}

.Nav-items:hover {
  color: #ec4884;
}

.Nav-button {
  background-color: transparent;
}

.Nav-button a {
  color: #cad7e4;
}

.Nav-button:hover {
  background-color: #283791;
}

.mail {
  color: #e0e2e6;
}

.Scroll__to__top__icon {
  color: #b6b4b4;
  z-index: 100;
}

.aboutSection__wrapper #aboutSection__dest {
  color: #042a64;
}

.aboutSection__wrapper .text1 {
  color: #ec4884;
}

.aboutSection__wrapper .name {
  color: #cad7e4;
}

.aboutSection__wrapper .speciality {
  color: #aebcc9;
}

.aboutSection__wrapper .description {
  color: #b6b4b4;
}

.About-btn {
  background-color: transparent;
  color: #cad7e4;
}

.About-btn:hover {
  background-color: #283791;
}

.wordpress {
  color: white;
}

.react {
  color: #61dbfb;
}

#Experience-dest {
  color: #042a64;
}

.Section-title {
  color: #ec4884;
}

.Section-title span {
  color: #ec4884;
}

.expertiseText,
.Line {
  color: #b6b4b4;
}

.Line span {
  color: #ec4884;
}

.Tagline {
  color: #b6b4b4;
}

.Experience-mid-border-div {
  color: #042a64;
}

.Experience-btns-container {
  background-color: #042a64;
}

.Experience-output-box {
  background-color: #283791;
}

.Post {
  color: #c9c9c9;
}

.Industory {
  color: #ec4884;
}

.Time-duration {
  color: #a5a5a5;
}

.Arrow {
  color: salmon;
}

.Lower-space-point {
  color: #b6b4b4;
}

.Marcom-btn {
  color: #b6b4b4;
  background-color: #283791;
}

.Marcom-btn-mod {
  color: #b6b4b4;
  background-color: transparent;
}

.Marcom-btn-mod:hover {
  background-color: #1b2d96;
}

.Huawei-btn {
  background-color: transparent;
  color: #b6b4b4;
}

.Huawei-btn:hover {
  background-color: #1b2d96;
}

.Huawei-btn-mod {
  background-color: #283791;
  color: #b6b4b4;
}

.projectsSection__heading {
  color: #ec4884;
}

.projectsSection__heading span {
  color: #ec4884;
}

#scrollTo__projectsSection {
  color: #042a64;
}

.smallProjects__wrapper {
  background-color: #27347c;
}

.icons {
  color: #f06196;
}

.smallProjects__heading {
  color: #c4c4c4;
}

.smallProjects__desc {
  color: #c4c2c2;
}

.projects__tech,
.projects__tech a {
  color: #8f8f8f;
}

.projects__tech a:hover {
  color: #a8a6a6;
}

#Contact-dest {
  color: #042a64;
}

.What-next {
  color: #ec4884;
}

.What-next span {
  color: #ec4884;
}

.Hesitate {
  color: #b2b6be;
}

.contactBtns {
  background-color: transparent;
  color: #cad7e4;
}

.contactBtns:hover {
  background-color: #283791;
}

.footerTag {
  color: #cfd2da;
}

.contributionText {
  color: #b6b4b4;
}

.contributionText a {
  color: #b6b4b4;
}

.contributionText a:hover {
  color: #ec4884;
}

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Pointer {
  cursor: pointer;
}

.Btn {
  background-color: #3d3786;
  font-size: 18px;
  border: 0.1px solid #312883;
  font-family: Proxima;
  padding: 1.2rem 2.4rem;
  color: #cad7e4;
  letter-spacing: 1px;
  border-radius: 3px;
  outline: none;
  position: relative;
  top: 2.5px;
}

.Btn:hover {
  -webkit-animation: moveup 200ms linear 20ms forwards;
          animation: moveup 200ms linear 20ms forwards;
}

@-webkit-keyframes moveup {
  0% {
    top: 2.5px;
  }
  100% {
    top: 0;
  }
}

@keyframes moveup {
  0% {
    top: 2.5px;
  }
  100% {
    top: 0;
  }
}

.Main_app_ui_container {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.hide__scrollbar::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=main.css.map */