@mixin flex($content, $direction) {
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
  align-items: center;
}

img {
  object-fit: contain;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}
